* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  background-color: rgb(255, 199, 1, 0.4);
}

.container {
  background-color: white;
  min-width: 600px;
  max-width: 1092px;
  margin-left: auto;
  margin-right: auto;
}

header {
  min-height: 300px;
  background-image: url(images/black_friday.jpg);
  background-size: cover;
  background-position: center;
  background-color: white;
  position: sticky;
  top: 0px;
}

header h1 {
  font-family: "Lucida Handwriting", Tahoma, Arial, sans-serif;
  font-weight: bold;
  color: #00222e;
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px 1px #ffc701;
  max-width: 40%;
  position: absolute;
  top: 40px;
  right: 140px;
}

button {
  background-color: #f08f00;
  color: #00222e;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #00222e;
  box-shadow: 3px 3px 3px #00222e;
  position: fixed;
  top: 20px;
  left: 20px;
}

.uitleg {
  background-color: #ffffff;
  color: #00222e;
  font-size: 0.75em;
  width: 14em;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #00222e;
  font-weight: normal;
  position: absolute;
  top: 80%;
  left: 20%;
  visibility: hidden;
}

button:hover .uitleg {
  visibility: visible;
}

nav {
  margin: 10px;
}

nav a,
nav li,
aside a,
nav aside li {
  text-decoration: none;
  list-style-type: none;
  color: #00222e;
  margin-right: 5px;
}
nav ol {
  list-style: none;
}

nav ol a {
  display: block;
  text-decoration: none;
  color: black;
  background-color: #f08f00;
  width: 120px;
  height: 40px;
  padding: 10px;
}

nav ol a:hover {
  background-color: #ffc701;
}

nav > ol {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
nav ol li ol {
  display: none;
}

nav > ol li:hover ol {
  display: block;
}

aside a {
  background-color: #ffc701;
  border: 1px #00222e;
  width: 120px;
}

ul {
  list-style: none;
}

.content-container aside {
  position: relative;
  float: right;
  top: 0px;
  right: 10px;
}
aside ul ul {
  position: absolute;
  display: none;
  top: 0;
  right: 100%;
}

aside ul li a {
  border: black 1px solid;
}

aside ul a {
  display: block;
  text-decoration: none;
  color: black;
  width: 120px;
  height: 40px;
  padding: 10px;
  margin-bottom: 5px;
}

aside li:hover > ul {
  display: block;
}

aside ul ul li a {
  width: 120px;
  margin: 0;
}

aside ul li {
  position: relative;
}

#content {
  padding-right: 140px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#content p {
  padding-top: 5px;
  padding-bottom: 5px;
}

footer{
    font-size: 0.75em;
    font-style: italic;
    text-align: right;
    padding: 5px;
    background-image: url(images/black_friday.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
