* {
  margin: 0;

  padding: 0;
}

body {
  font-family: Verdana, Tahoma, sans-serif;

  background-color: #317082;
}

input {
  font-family: inherit;

  font-size: 1em;
}
#container {
  width: 925px;
  padding: 20px;
  /*text-align: center;*/
  background-color: white;
  margin: auto;
}
h1 {
  background-color: #317082;
  color: white;
  font-weight: normal;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-shadow: black 2px 2px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #317082;
  margin-bottom: 20px;
}
nav {
  text-align: center;
}
nav ol {
  list-style: none;
  margin-bottom: 20px;
  display: inline-block;
}

nav ol:hover {
  background-color: #204955;
  color: #204955;
}
nav ol li a:hover {
  color: white;
}
nav ol li {
  background-color: #317082;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border-top-left-radius: 10px 5px;
  border-top-right-radius: 10px 5px;
  border-bottom-left-radius: 10px 5px;
  border-bottom-right-radius: 10px 5px;
  margin: -5px 5px;
  display: inline-block;
}
nav ol li a {
  text-decoration: none;
  color: white;
}
#banner {
  height: 214px;
  width: 905px;
  background-image: url(images/banner.jpg);
}

#banner p {
  color: white;
  width: 280px;
  height: 214px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  font-size: 1em;
}

#banner p:first-letter {
  font-size: 1.5em;
  font-weight: bold;
}

#content h2 {
  font-size: 1.4em;
  font-weight: normal;
  font-style: italic;
  color: white;
  background-color: #317181 !important;
  padding: 5px;
  border: #23515c 5px solid;
  border-top-right-radius: 20px;
  margin-top: 20px;
}

#content p {
  border-bottom: #23515c dashed 2px;
  padding-bottom: 10px;
}

#content table {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  border: #23515c 4px solid;
  border-collapse: collapse;
}

#content table th {
  border: #23515c 1px solid;
  padding: 5px;
  font-weight: normal;
  text-transform: uppercase;
}
#content table td {
  border: #23515c 1px solid;
  padding: 5px;
}

#content table tr:hover td {
  background-color: rgb(49, 112, 130, 0.5);
}

form fieldset {
  border: black;
  border-style: double;
  padding: 20px;
}
form fieldset legend {
  padding-left: 10px;
  padding-right: 10px;
  border-style: double;
}
form fieldset input {
  border: #23515c 2px solid;
  padding: 5px;
}
form fieldset label input[type="text"] {
  border-top-left-radius: 10px 5px;
  border-top-right-radius: 10px 5px;
  border-bottom-left-radius: 10px 5px;
  border-bottom-right-radius: 10px 5px;
  box-shadow: inset black 0px 0px 4px;
}
form fieldset label input[type="text"]:hover {
  box-shadow: inset black 0px 0px 4px;
}
form fieldset label input[type="text"]:focus {
  box-shadow: inset black 0px 0px 8px;
  background-color: rgb(49, 112, 130);
}


form fieldset input[type="submit"] {
  border-radius: 10px;
  background-color: #317082;
  font-weight: bold;
  box-shadow: #317082 2px 2px 5px;
}

form fieldset input[type="submit"]:first-letter {
  text-transform: capitalize;
}
