* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: Helvetica, Tahoma, Arial, sans-serif;

  background-color: rgb(147, 162, 243);
}

input,
textarea {
  font-family: inherit;

  font-size: 1em;
}

.container {
  background-color: white;
  width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 1px;
}

header h1 {
  background-image: url(images/header.jpg);
  width: 770px;
  height: 215px;
  margin-left: auto;
  margin-right: auto;
  color: #eee;
  text-align: right;
  text-shadow: black -3px 3px 3px;
  padding: 10px;
}
header h2 {
  display: none;
}

nav {
  margin: 10px;
}
nav ol {
  list-style: none;
}

nav ol a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: rgb(147, 162, 243);
  width: 140px;
  height: 40px;
  padding: 10px;
}

nav ol a:hover {
  background-color: rgb(101, 135, 224);
}

nav > ol {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
nav ol li ol {
  display: none;
}

nav > ol li:hover ol {
  display: block;
}

#content {
  margin: 5px;

  display: flex;
}

#content article {
  border: black 1px dotted;
  margin: 5px;
  max-height: fit-content;
  padding: 10px;
}

#content article h2 {
  border-bottom: black 1px dotted;
  margin: 5px;
}

#content article p {
  text-align: justify;
}
#content article p:first-child {
  text-indent: 20px;
}

fieldset {
  margin: 10px;
  border-radius: 10px;
}

fieldset legend {
  margin: 10px;
}
form div {
  display: flex;
}
input{
  border: 1px solid darkgray;
  border-radius: 20px / 10px;
  margin: 10px;
  padding: 5px;
}


div label{
  display: flex;
  align-items: center;
}

textarea {
  border: 1px solid darkgray;
  border-radius: 20px / 10px;
  margin: 10px;
}

label:first-child {
  width: 120px;
  align-items: center;
  display: flex;
  justify-content: right;
}
div:last-child {
  display: flex;
  justify-content: right;
}
div input:last-child {
  border: 1px solid darkgray;
  border-radius: 20px / 10px;
  margin: 10px;
  padding: 5px;
}


footer{
  background-image: url(images/header.jpg);
  background-position: bottom;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  color: white;
  margin: 10px;
}